<!DOCTYPE html>
<html lang="en-GB">
    <head>
        {% assets filters="cssmin", output="css/kura.io.%(version)s.css", "css/style.css", "css/pygments.css" %}
            <link href="/{{ ASSET_URL }}" rel="stylesheet" />
        {% endassets %}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
        <meta charset="utf-8" />

        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />

        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />

        <meta name="author" property="author" content="Kura" />
        <meta name="description" property="description" content="Lots of articles on programming thoughts and ideas, software and solid configurations, server hardware and more." />

        <meta name="twitter:site" property="twitter:site" content="@kuramanga" />
        <meta name="twitter:url" property="twitter:url" content="https://kura.io/" />
        <meta name="twitter:title" property="twitter:title" content="{{ self.title() }}" />
        <meta name="twitter:card" property="twitter:card" content="summary" />
        <meta name="twitter:description" property="twitter:description" content="Lots of articles on programming thoughts and ideas, software and solid configurations, server hardware and more." />
        <meta name="twitter:image:src" property="twitter:image:src" content="/theme/img/preview.png" />

        <meta name="og:site_name" property="og:site_name" content="kura.io" />
        <meta name="og:type" property="og:type" content="profile" />
        <meta name="og:title" property="og:title" content="{{ self.title() }}" />
        <meta name="og:url" property="og:url" content="https://kura.io/" />
        <meta name="og:description" property="og:description" content="Lots of articles on programming thoughts and ideas, software and solid configurations, server hardware and more." />

        <link href="/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }}" />
        <link rel="shortcut icon" href="{{ SITEURL}}/favicon.ico" />

        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    </head>
    <body class="post-template">
        <header class="site-head">
            <h1 class="blog-title"><a href="/">{{ SITENAME }}</a></h1>
            <h2 class="blog-description">
                <a href="/contact/">Contact</a> | <a href="/software/">Software</a> | <a href="/donate/">Donate</a> | <a href="http://omgkuraio276g5wo.onion/">.onion</a>
            </h2>
        </header>
        <main id="content" class="content" role="main">
            {% block content %}{% endblock %}
        </main>
        <footer class="site-footer">
            <a class="subscribe icon-feed" href="/{{ FEED_ATOM }}"><span class="tooltip">Atom</span></a>
            <div class="inner">
                <section class="copyright">This website source and content are release under the <a href="/license/">MIT License</a>.</section>
                <section class="poweredby">Powered by love &amp; rainbow sparkles.</section>
            </div>
        </footer>
    </body>
</html>
