{% from 'partials/_defaults.html' import OPEN_GRAPH_IMAGE with context %}
{% from 'partials/_defaults.html' import USE_TWITTER_CARDS with context %}
{% if USE_TWITTER_CARDS %}
  {% from 'partials/_defaults.html' import share_title with context %}
  {% from 'partials/_defaults.html' import share_url with context %}
  {% from 'partials/_defaults.html' import obj with context %}
  {% if TWITTER_USERNAME %}
    <meta property="twitter:site" content="@{{ TWITTER_USERNAME }}" />
  {% endif %}
  {% if obj is defined %}
    <meta property="twitter:title"
          content="{{ obj.title|striptags|escape|replace('※', '') }}" />
    <meta property="twitter:url"
          content="{{ SITEURL }}/{{ obj.url }}" />
    <meta property="twitter:description"
          content="{{ obj.summary|striptags|escape|replace('※', '') }}" />
    <meta property="twitter:image"
          content="{{ SITEURL }}/{{ obj.url }}index.png" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:label1" content="Written by" />
    <meta property="twitter:data1" content="{{ obj.author|title }}" />
    {% if article and article.ert %}
      <meta property="twitter:label2" content="Estimated reading time" />
      <meta property="twitter:data2" content="{{ article.ert }}" />
    {% endif %}
  {% else %}
    <meta property="twitter:title"
          content="{{ SITENAME|striptags|escape }}" />
    <meta property="twitter:url"
          content="{{ SITEURL }}/{{ output_file }}" />
    <meta property="twitter:image"
          content="{{ SITEURL }}/{{ output_file|replace('.html', '.png') }}" />
    <meta property="twitter:card" content="summary_large_image" />
  {% endif %}
  <meta property="twitter:image:width" content="1920" />
  <meta property="twitter:image:height" content="1080" />
{% endif %}
