{% extends "base.html" %}
{% block content %}
<section id="content">
   <div class="row">
        <div class="eleven columns">
            <dl>
            {% for article in dates %}
                <dt>{{ article.locale_date }}</dt>
                <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
            {% endfor %}
            </dl>
        </div><!-- /.eleven.columns -->
     {% include 'sidebar.html' %}
 </div><!-- /.row -->
</section><!-- /#content -->
{% endblock content %}
