{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Search{% endblock %}
{% block content %}
<section id="content">
    <div class="row">
        <div class="eleven columns">
            <article>
                <div class="span8 offset2">
                    <div id="tipue_search_content">
                        <div id="tipue_search_loading"></div>
                    </div>
                </div>
            </article>
        </div>
     {% include 'sidebar.html' %}
 </div>
</section>
{% endblock content %}
{% block additional_js %}
<script type="text/javascript">
//<![CDATA[
$(document).ready(function() {
     $('#tipue_search_input').tipuesearch({
         'mode' : 'json',
         'show': 20,
         'newWindow': false,
         'showURL': false,
         'contentLocation': '{{ SITEURL }}/tipuesearch_content.json'
     });
});
//]]>
</script>
{% endblock additional_js %}
