<div class="sharing">
  <h2>Share</h2>
  <ul class="socbtns">
    <li><div class="btn twitter"><a href="http://twitter.com/share?text={{ article.title|striptags }} - {{ SITEURL }}/{{ article.url }} (via @kuramanga)" target="_blank">Twitter</a></div></li>
    <li><div class="btn primary"><a href="https://plus.google.com/share?url={{ SITEURL }}/{{ article.url }}" target="_blank">Google+</a></div></li>
    <li><div class="btn facebook"><a href="http://www.facebook.com/sharer/sharer.php?u={{ SITEURL }}/{{ article.url }}" target="_blank">Facebook</a></li>
    <li><div class="btn primary"><a href="mailto:?subject={{ article.title|striptags }} - {{ SITEURL }}/{{ article.url }}" target="_blank">Email</a></div></li>
  </ul>
</div>