<div class="three columns">

<form action="{{ SITEURL }}/search.html" onsubmit="return validateForm(this.elements['q'].value);">
<input type="text" class="search" placeholder="Search" name="q" id="tipue_search_input" />
</form>

<h4>Pages</h4>
<ul>
    <li><a href="{{ SITEURL }}/contact/">Contact</a></li>
    <li><a href="{{ SITEURL }}/me/">About</a></li>
    <li><a href="{{ SITEURL }}/apt.kura.io/">apt.kura.io</a></li>
    <li><a href="https://www.ssllabs.com/ssltest/analyze.html?d=kura.io">SSL Report</a></li>
    <li><a href="http://spdycheck.org/#kura.io">SPDY Report</a></li>
</ul>

<h4>Latest apt builds</h4>
<ul>
    <li><a href="https://apt.kura.io/pool/main/n/nginx/">nginx/1.5.10</a> +
        <ul>
            <li>pagespeed/1.7.30.3-beta</li>
        </ul>
    </li>
    <li><a href="https://apt.kura.io/pool/main/h/haproxy/">haproxy/1.5~dev22kura1</a></li>
    <li><a href="http://apt.kura.io/pool/main/v/vagrant-bash-completion/">vagrant-bash-completion/0.0.6a</a></li>
    <li><a href="http://apt.kura.io/pool/main/g/go-bash-completion/">go-bash-completion/0.0.1a</a></li>
</ul>

<h4>Software / Services</h4>
<ul>
    <li><a href="http://blackhole.io/">blackhole.io</a></li>
    <li><a href="{{ SITEURL }}/amisecure/">Am I Secure?</a></li>
    <li><a href="https://pypip.in/">pypipins</a></li>
    <li><a href="{{ SITEURL }}/deiman/">Deiman</a></li>
    <li><a href="{{ SITEURL }}/pybozo/">PyBozo</a></li>
    <li><a href="{{ SITEURL }}/pelican-youtube/">pelican-youtube</a></li>
    <li><a href="{{ SITEURL }}/pelican-vimeo/">pelican-vimeo</a></li>
    <li><a href="{{ SITEURL }}/apt-security/">apt-security</a></li>
    <li><a href="{{ SITEURL }}/rabbitmq-nagios/">rabbitmq-nagios</a></li>
    <li><a href="{{ SITEURL }}/go-bash-completion/">go-bash-completion</a></li>
    <li><a href="{{ SITEURL }}/vagrant-bash-completion/">vagrant-bash-completion</a></li>
    <li><a href="{{ SITEURL }}/simplemta/">SimpleMTA</a></li>
</ul>

<h4>Categories</h4>
{% if categories %}
<ul>
	{% for cat, null in categories %}
		<li><a href="{{ SITEURL }}/{{ cat.url|e }}/">{{ cat }}</a></li>
	{% endfor %}
</ul>
{% endif %}

<h4>Archives</h4>
<ul>
{% for date in archive_dates %}
  <li><a href="{{ SITEURL }}/{{ date.url|e }}/">{{ date.string }}</a></li>
{% endfor %}
</ul>

</div>
