<div class="three columns">

<form method="get" id="search" action="https://duckduckgo.com/">
<input type="hidden" name="sites"value="kura.io" />
<input type="hidden" name="ka" value="n" />
<input type="hidden" name="kh" value="1" />
<input type="hidden" name="kj" value="b" />
<input type="hidden" name="ky" value="b" />
<input type="hidden" name="kx" value="b" />
<input type="text" name="q" maxlength="255" placeholder="Search" class="search" />
</form>

<h4>Pages</h4>
<ul>
    <li><a href="{{ SITEURL }}/contact/">Contact</a></li>
    <li><a href="{{ SITEURL }}/me/">About</a></li>
    <li><a href="{{ SITEURL }}/static/files/kura.asc">My public PGP key</a></li>
    <li><a href="{{ SITEURL }}/license/">Website/content license (MIT)</a></li>
    <li><a href="https://www.ssllabs.com/ssltest/analyze.html?d=kura.io">SSL Report</a></li>
    <li><a href="http://spdycheck.org/#kura.io">SPDY Report</a></li>
</ul>

<h4>Software / Services</h4>
 <ul>
      <li><a href="http://blackhole.io/">blackhole.io</a></li>
      <li><a href="{{ SITEURL }}/amisecure/">Am I Secure?</a></li>
      <li><a href="https://pypip.in/">pypipins</a></li>
      <li><a href="{{ SITEURL }}/deiman/">Deiman</a><li>
      <li><a href="{{ SITEURL }}/pybozo/">PyBozo</a></li>
      <li><a href="{{ SITEURL }}/pelican-youtube/">pelican-youtube</a></li>
      <li><a href="{{ SITEURL }}/pelican-vimeo/">pelican-vimeo</a></li>
      <li><a href="{{ SITEURL }}/apt-security/">apt-security</a></li>
      <li><a href="{{ SITEURL }}/rabbitmq-nagios/">rabbitmq-nagios</a></li>
      <li><a href="{{ SITEURL }}/go-bash-completion/">go-bash-completion</a></li>
      <li><a href="{{ SITEURL }}/vagrant-bash-completion/">vagrant-bash-completion</a></li>
      <li><a href="{{ SITEURL }}/simplemta/">SimpleMTA</a></li>
  </ul>

<h4>Categories</h4>
{% if categories %}
<ul>
	{% for cat, null in categories %}
		<li><a href="{{ SITEURL }}/{{ cat.url|e }}/">{{ cat }}</a></li>
	{% endfor %}
</ul>
{% endif %}

<h4>Archives</h4>
<ul>
{% for date in archive_dates %}
  <li><a href="{{ SITEURL }}/{{ date.url|e }}/">{{ date.string }}</a></li>
{% endfor %}
</ul>

</div>
