@font-face {
    font-family: 'FiraSans';
    font-style: normal;
    font-weight: 300;
    src: local('FiraSans Light'), local('FiraSans-Light'), url('/theme/fonts/FiraSans-Light.woff') format('woff');
}

@font-face {
    font-family: 'FiraSans';
    font-style: normal;
    font-weight: 400;
    src: local('FiraSans'), local('FiraSans-Regular'), url('/theme/fonts/FiraSans-Regular.woff') format('woff');
}

@font-face {
    font-family: 'FiraSans';
    font-style: normal;
    font-weight: 600;
    src: local('FiraSans SemiBold'), local('FiraSans-SemiBold'), url('/theme/fonts/FiraSans-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'FiraSans';
    font-style: normal;
    font-weight: 700;
    src: local('FiraSans Bold'), local('FiraSans-Bold'), url('/theme/fonts/FiraSans-Bold.woff') format('woff');
}

@font-face {
    font-family: 'FiraMono';
    font-style: normal;
    font-weight: 400;
    src: local('FiraMono'), local('FiraMono-Regular'), url('/theme/fonts/FiraMono-Regular.woff') format('woff');
}

html, body, h1, h2, h3, h4, h5, h6 {
    font-family: 'FiraSans', 'sans-serif' !important;
}

html {
    height: 100%;
    max-height: 100%;
    font-size: 62.5%;
}

code, kbd, pre, samp, tt {
    font-family: 'FiraMono', 'monospace', 'serif' !important;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    letter-spacing: -1px;
    text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: -1px;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 34px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p {
    font-size: 16px;
    letter-spacing: 0;
    margin: 0 0 16px;
}

pre, code, blockquote {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.6em 0 1.6em -2.2em;
    padding: 0 0 0 1.6em;
    border-left: #424242 0.4em solid;
}

table {
    position: relative;
    border: 1px solid rgba(0, 0, 0, .12);
    border-collapse: collapse;
    white-space: nowrap;
    font-size: 13px;
    background-color: #fff;
}

thead {
    padding-bottom: 3px;
}

tbody tr {
    position: relative;
    height: 48px;
    transition-duration: .28s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-property: background-color;
}

tbody tr:hover {
    background-color: #eee;
}

td {
    text-align: right;
}

th {
    padding: 0 18px 12px 18px;
    text-align: right;
}

td:first-of-type,
th:first-of-type {
    padding-left: 24px;
}

td:last-of-type,
th:last-of-type {
    padding-right: 24px;
}

td {
    position: relative;
    height: 48px;
    border-top: 1px solid rgba(0, 0, 0, .12);
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    padding: 12px 18px;
    box-sizing: border-box;
}

td {
    vertical-align: middle;
}

th {
    position: relative;
    vertical-align: bottom;
    text-overflow: ellipsis;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    height: 48px;
    font-size: 12px;
    color: rgba(0, 0, 0, .54);
    padding-bottom: 8px;
    box-sizing: border-box;
}

.eevee-header .mdl-layout__header-row {
    padding-left: 40px;
}

.eevee-logo {
    letter-spacing: -1px;
}

.eevee-nav, .eevee-logo, .eevee-logo a {
    font-family: 'FiraSans', 'sans-serif' !important;
    font-weight: 400;
    letter-spacing: 0;
    margin: 0;
    opacity: 0.87;
    text-decoration: none;
    font-size: 26px !important;
}

.eevee-nav, .eevee-nav a {
    font-size: 16px
}

.eevee-ribbon {
    width: 100%;
    height: 40vh;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.eevee-main {
    margin-top: -35vh;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.eevee-container {
    max-width: 1600px;
    width: calc(100% - 16px);
    margin: 0 auto;
}

.eevee-content {
    border-radius: 2px;
    margin-bottom: 80px;
}

.eevee-padding {
    padding: 56px;
}

.eevee-layout.is-small-screen .eevee-content {
    padding: 40px 28px;
}

.eevee-footer {
    padding-left: 40px;
}

.eevee-footer .mdl-mini-footer--link-list a {
    font-size: 13px;
}

.eevee-meta {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: auto;
}

.eevee-meta > .meta__share {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0 8px;
    font-size: 13px;
    font-weight: 500;
    font-size: 2em;
    cursor: pointer;
    margin-left: 12px;
}

.eevee-meta div {
    padding-left: 5px;
}

.eevee-meta > *:first-child {
    margin-right: 16px;
}

.eevee-meta > * {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.eevee-meta a {
    margin-left: 6px;
}

.eevee-toc {
    display: table-cell;
}

.eevee-toc-ribbon {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.6em 0 3em -2.2em;
    padding: 0.2em 0 0.2em 1.6em;
    border-left: #424242 0.4em solid;
}

.eevee-toc ul {
    list-style-type: none;
    padding-left: 10px;
    line-height: 28px;
}

.eevee-toc li {
    font-size: 16px;
}

.eevee-divider {
    width: 100%;
    height: 2px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 60px 0 -60px 0;
}

.eevee-comment {
    background-color: #e0e0e0;
    padding: 10px 56px 10px 56px;
}

.eevee-spacer {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.eevee-pagination, .eevee-pagination a {
    text-decoration: none;
    padding-top: 56px;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: auto;
}

.eevee-meta > * {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
